<form action="update/<%= manitto.id %>", method="get">
  <div class="col-md-4">
    <input type="hidden" name="love" value=true>
    <div style='display:inline-block;'>
      <h2><%= manitto.who %></h2>
    </div>
    <div style='display:inline-block;'>
      <button type="submit" class="btn btn-outline btn-circle btn-sm skyblue">
        사랑해 ❤</span>
      </button>
    </div>
  </div>
</form>